* {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1001;
}

body {
  width: 100%;
  min-height: 90vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
}

#root {
  width: 100%;
  min-height: 90vh;
}

footer {
  z-index: 1001;
  width: 100%;
}

.footer {
  width: 100%;
}
